body {
    margin: 0;
    padding: 0;
    font-family: "gotham rounded", "open-sans", sans-serif;
}

/*Menu*/

#menu {
    padding: 0.2rem;
    background-color: white;
}

#menu ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

#menu a {
    text-decoration: none;
    padding: 1rem;
    color: black;
    font-size: 1.5rem;
}

#menu a:hover {
    color: #3377cc;
}

/*Background-name*/

#background-name {
    background-image: url("../resources/background.jpg");
    height: 48rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name {
    color: white;
    font-size: 4rem;
}
