body {
    margin: 0;
    padding: 0;
    font-family: "gotham rounded", "open-sans", sans-serif;
    background-color: #e6e6e6;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*Menu*/

.menu {
    padding: 0.2rem;
    background-color: white;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.active {
    color: #3377cc;
}

.menu a {
    text-decoration: none;
    padding: 1rem;
    color: black;
    font-size: 1.5rem;
}

.menu a:hover {
    color: #3377cc;
}

/*Background-name*/

.background-name {
    background-image: url("../resources/background.jpg");
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    color: white;
    font-size: 4rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    background-color: white;
    border-radius: 37px 37px 37px 37px;
    -moz-border-radius: 37px 37px 37px 37px;
    -webkit-border-radius: 37px 37px 37px 37px;
    margin: 2rem;
}

.img-new {
    height: 17rem;
    border-radius: 37px 37px 0px 0px;
    -moz-border-radius: 37px 37px 0px 0px;
    -webkit-border-radius: 37px 37px 0px 0px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.new > header {
    margin-left: 2rem;
    margin-right: 2rem;
}

.content {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 0.9rem;
}

.new > footer {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1rem;
    font-size: 0.7rem;
}

.footer {
    padding: 0.3rem;
    background-color: #5d5d5d;
    color: #dadada;
    font-weight: bold;
}


.footer > p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    margin: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form input{
    background-color: #f3f3f3;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: none;
    padding: 0.5rem;
}

.form input:focus{
    outline: none !important;
    background-color: #d2e9f7;
}

.form textarea{
    background-color: #f3f3f3;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: none;
    padding: 0.5rem;
}

.form textarea:focus{
    outline: none !important;
    background-color: #d2e9f7;
}

.form label{
    padding-top: 0.3rem;
}

main{
    flex: 1;
}